*{
    margin: 0;
    padding: 0;
}

body{
    background: red;
    color:white;
}

/*estilos del header*/
.header{
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.logo{
    margin-right: 5px;
}

.centro{
    margin-left: 250px;
}

.izquierda{
    margin-left: 40px;
}

.navbar ul{
    display: flex;/*trabaja por defecto en row*/
    list-style-type: none;/*esto saca los .*/
    justify-content: space-between;  
}

.navbar ul li{
     padding: auto;
     margin: 8px;
}

a{
  text-decoration: none;/*esto saca las lineas de los link*/
  background-color: rgba(223, 151, 151, 0.863);
  border-radius: 30px;
  padding: 10px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}


/*estilo de la caja que contiene titulo*/
.caja-uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
}

h1{
    margin-bottom: 100px; 
}

.secciones{
    margin-top: 20px;
    text-align: center;   
    height: 200px;
}


/*estilo del footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    font-weight: bold;
    height: 150px;
}



